In [1]:
import csv
import pandas as pd

In [2]:
# Import file
file = 'Resources/Weather_Pycode_Data.csv'

In [4]:
# Put data into a dataframe
df = pd.read_csv(file)
df.head()

,0,country,lat,lon,temp_max,humidity,all,speed,0.1
0,Sittwe,MM,20.15,92.90,77.67,52.0,0.0,8.32,1.584931e+09
1,Kapaa,US,22.08,-159.32,78.80,88.0,90.0,18.34,1.584931e+09
2,Punta Arenas,CL,-53.15,-70.92,53.60,93.0,90.0,11.41,1.584931e+09
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kinablangan,PH,7.69,126.55,78.93,79.0,16.0,7.20,1.584931e+09

In [7]:
df2 = df.dropna()
df2

,0,country,lat,lon,temp_max,humidity,all,speed,0.1
0,Sittwe,MM,20.15,92.90,77.67,52.0,0.0,8.32,1.584931e+09
1,Kapaa,US,22.08,-159.32,78.80,88.0,90.0,18.34,1.584931e+09
2,Punta Arenas,CL,-53.15,-70.92,53.60,93.0,90.0,11.41,1.584931e+09
4,Kinablangan,PH,7.69,126.55,78.93,79.0,16.0,7.20,1.584931e+09
5,Brae,GB,60.40,-1.35,42.80,81.0,100.0,27.51,1.584931e+09
...,...,...,...,...,...,...,...,...,...
593,Tazmalt,DZ,36.39,4.40,50.00,93.0,40.0,5.82,1.584931e+09
594,Balkanabat,TM,39.51,54.37,48.33,52.0,100.0,11.05,1.584931e+09
595,Kitimat,CA,54.05,-128.65,39.20,86.0,90.0,3.36,1.584931e+09
596,Shīeli,KZ,44.17,66.75,44.91,41.0,76.0,21.43,1.584931e+09
597,Charters Towers,AU,-20.10,146.27,86.13,58.0,71.0,15.52,1.584931e+09

In [10]:
# Render dataframe as html
html = df2.to_html("data.html", index=False, classes=[table])

NameError: name 'data' is not defined